/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
/* line 6, ../sass/core/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/core/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 31, ../sass/core/_reset.scss */
body { line-height: 1; }

/* line 34, ../sass/core/_reset.scss */
ol, ul { list-style: none; }

/* line 37, ../sass/core/_reset.scss */
blockquote, q { quotes: none; }

/* line 40, ../sass/core/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* line 45, ../sass/core/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: 'Lobster'; src: url("fonts/Lobster/Lobster_1_4.eot"); src: url("fonts/Lobster/Lobster_1_4.woff"), url("fonts/Lobster/Lobster_1_4.ttf"), url("fonts/Lobster/Lobster_1_4.svg"); }
@font-face { font-family: 'OpenSans'; src: url("fonts/OpenSans/OpenSans-Regular-webfont.eot"); src: url("fonts/OpenSans/OpenSans-Regular-webfont.woff"), url("fonts/OpenSans/OpenSans-Regular-webfont.ttf"); }
/* line 5, ../sass/layout/_header.scss */
.main_header { background: #fff; z-index: 99999; width: 100%; height: 107px; position: fixed; max-width: 1440px; }

/* line 14, ../sass/layout/_header.scss */
.fix_header { width: 100%; z-index: 0; height: 107px; }

/* line 20, ../sass/layout/_header.scss */
.logo { font-family: 'Lobster'; font-size: 43px; color: #44c0c2; display: inline-block; padding: 32px 0; margin-left: 135px; }

/* line 29, ../sass/layout/_header.scss */
.menuToggle { display: none; margin: 32px 25px 0 20px; text-align: right; cursor: pointer; width: 50px; }

/* line 37, ../sass/layout/_header.scss */
nav { display: inline-block; float: right; margin-right: 135px; }
/* line 42, ../sass/layout/_header.scss */
nav .menu { z-index: 9999; }
/* line 46, ../sass/layout/_header.scss */
nav li { display: inline-block; text-align: center; }
/* line 50, ../sass/layout/_header.scss */
nav li:last-child { padding-right: 0px; }
/* line 55, ../sass/layout/_header.scss */
nav a { display: inline-block; padding: 45px 25px 44px 20px; text-decoration: none; color: #484c55; font-size: 15px; }
/* line 62, ../sass/layout/_header.scss */
nav a:hover { color: #49cbcd; border-bottom: 3px solid #49cbcd; background-color: #f8f9fb; }

@media screen and (max-width: 1200px) { /* line 71, ../sass/layout/_header.scss */
  .logo { margin-left: 0; }
  /* line 75, ../sass/layout/_header.scss */
  nav { margin-right: 0; } }
@media screen and (max-width: 1024px) { /* line 81, ../sass/layout/_header.scss */
  header { padding: 0 15px; } }
@media screen and (max-width: 425px) { /* line 89, ../sass/layout/_header.scss */
  .slide h1 { font-size: 32px; }
  /* line 93, ../sass/layout/_header.scss */
  .slide p { font-size: 18px; }
  /* line 97, ../sass/layout/_header.scss */
  .slide a { padding: 14px 28px 14px 34px; } }
@media screen and (max-width: 720px) { /* line 104, ../sass/layout/_header.scss */
  .menu { display: none; position: absolute; background: #49cbcd; text-align: center; }
  /* line 112, ../sass/layout/_header.scss */
  .menu li a { padding: 20px 10px; width: 120px; }
  /* line 116, ../sass/layout/_header.scss */
  .menu li a:hover { border-bottom: none; }
  /* line 122, ../sass/layout/_header.scss */
  .menuToggle { display: inline-block; margin: 32px 35px 25px 35px; } }
@media screen and (max-width: 320px) { /* line 131, ../sass/layout/_header.scss */
  .slide h1 { font-size: 24px; }
  /* line 135, ../sass/layout/_header.scss */
  .slide p { font-size: 14px; }
  /* line 139, ../sass/layout/_header.scss */
  .slide a { padding: 10px 14px 10px 14px; } }
/* line 3, ../sass/layout/_team.scss */
.the_team { padding: 106px 0; }

/* line 7, ../sass/layout/_team.scss */
.caption { font-size: 42px; color: #4e525d; text-align: center; }

/* line 13, ../sass/layout/_team.scss */
.our_team { padding-top: 139px; display: flex; justify-content: space-between; }
/* line 18, ../sass/layout/_team.scss */
.our_team article { text-align: center; }
/* line 22, ../sass/layout/_team.scss */
.our_team img { margin-bottom: 71px; }
/* line 26, ../sass/layout/_team.scss */
.our_team header { font-size: 22px; color: #4e525d; padding-bottom: 15px; }
/* line 32, ../sass/layout/_team.scss */
.our_team h4 { font-size: 14px; color: #4e525d; padding-bottom: 35px; }
/* line 38, ../sass/layout/_team.scss */
.our_team p { font-size: 14px; color: #4e525d; line-height: 28px; }

@media screen and (max-width: 768px) { /* line 46, ../sass/layout/_team.scss */
  .the_team { padding: 50px 0 30px; }
  /* line 49, ../sass/layout/_team.scss */
  .the_team .our_team { flex-wrap: wrap; align-items: center; justify-content: space-around; padding-top: 50px; }
  /* line 55, ../sass/layout/_team.scss */
  .the_team .our_team article { width: 300px; }
  /* line 58, ../sass/layout/_team.scss */
  .the_team .our_team article img { margin-bottom: 30px; }
  /* line 62, ../sass/layout/_team.scss */
  .the_team .our_team article h4 { padding-bottom: 15px; }
  /* line 66, ../sass/layout/_team.scss */
  .the_team .our_team article p { padding-bottom: 20px; } }
/* line 1, ../sass/layout/_service.scss */
.service_container { background-color: #f1f1f1; }

/* line 5, ../sass/layout/_service.scss */
.service { display: flex; justify-content: space-between; padding: 118px 0 100px; }
/* line 10, ../sass/layout/_service.scss */
.service section { text-align: center; width: calc(100% / 3); }
/* line 14, ../sass/layout/_service.scss */
.service section:nth-child(2) { margin: 0 30px; }
/* line 18, ../sass/layout/_service.scss */
.service section h2 { font-size: 26px; color: #ffffff; padding: 30px 0; background-color: #485460; }
/* line 25, ../sass/layout/_service.scss */
.service section h3 { font-size: 20px; padding: 25px; background-color: #f8f9fb; }
/* line 33, ../sass/layout/_service.scss */
.service section ul li { padding: 15px 20px; background-color: #ffffff; color: #abafb4; font-size: 14px; border-bottom: 1px solid #ecf0f1; }
/* line 43, ../sass/layout/_service.scss */
.service .div_btn { padding: 0  0 30px; background-color: #f8f9fb; }
/* line 48, ../sass/layout/_service.scss */
.service .div_btn .button { margin-top: 30px; padding: 12px 50px; display: inline-block; background-color: #788492; color: #ffffff; font-size: 17px; text-decoration: none; border-radius: 3px; }

@media screen and (max-width: 1024px) { /* line 62, ../sass/layout/_service.scss */
  .service { padding: 50px 15px; } }
@media screen and (max-width: 425px) { /* line 68, ../sass/layout/_service.scss */
  .service { flex-direction: column; }
  /* line 71, ../sass/layout/_service.scss */
  .service section { width: 100%; padding-bottom: 20px; }
  /* line 75, ../sass/layout/_service.scss */
  .service section:nth-child(2) { margin: 0; } }
/* line 1, ../sass/layout/_footer.scss */
footer { background: url(../images/background.png); padding: 105px 0 98px; background-size: cover; background-position: center; }
/* line 7, ../sass/layout/_footer.scss */
footer .contact { display: flex; justify-content: space-between; }
/* line 13, ../sass/layout/_footer.scss */
footer .contact article header { font-size: 24px; color: #ffffff; }
/* line 18, ../sass/layout/_footer.scss */
footer .contact article div { padding-bottom: 15px; }
/* line 21, ../sass/layout/_footer.scss */
footer .contact article div img { width: 42px; }
/* line 25, ../sass/layout/_footer.scss */
footer .contact article div a { margin-right: 15px; }
/* line 28, ../sass/layout/_footer.scss */
footer .contact article div a:last-child { margin-right: 0px; }
/* line 34, ../sass/layout/_footer.scss */
footer .contact article p { display: inline-block; padding: 16px 0 40px; font-size: 14px; color: #797979; line-height: 21px; }
/* line 42, ../sass/layout/_footer.scss */
footer .contact article address { font-size: 14px; color: #8c80a4; line-height: 26px; }
/* line 48, ../sass/layout/_footer.scss */
footer .contact article .mail { font-size: 14px; color: #8c80a4; text-decoration: none; }
/* line 57, ../sass/layout/_footer.scss */
footer .contact form input { width: 270px; height: 44px; padding: 12px 5px 12px 20px; margin-bottom: 30px; border: none; font-size: 16px; }
/* line 65, ../sass/layout/_footer.scss */
footer .contact form input:first-child { margin-right: 25px; }
/* line 70, ../sass/layout/_footer.scss */
footer .contact form textarea { display: block; width: 100%; border: none; padding: 20px 10px 10px 20px; font-size: 16px; }
/* line 81, ../sass/layout/_footer.scss */
footer .send_btn { padding: 14px 65px 19px 55px; color: #ffffff; background-color: #49cbcd; font-size: 22px; line-height: 18px; border-radius: 3px; border: none; display: block; margin: 30px 0 0 auto; cursor: pointer; }
/* line 93, ../sass/layout/_footer.scss */
footer .send_btn:hover { background-color: #5deb60; }

/* line 99, ../sass/layout/_footer.scss */
h2 { padding-bottom: 118px; text-align: center; font-size: 42px; color: #ffffff; }

@media screen and (max-width: 1024px) { /* line 108, ../sass/layout/_footer.scss */
  footer .contact { padding: 0 5px; } }
@media screen and (max-width: 768px) { /* line 116, ../sass/layout/_footer.scss */
  footer { padding: 50px 15px; }
  /* line 119, ../sass/layout/_footer.scss */
  footer h2 { padding-bottom: 50px; }
  /* line 123, ../sass/layout/_footer.scss */
  footer .contact { flex-direction: column-reverse; align-items: center; }
  /* line 127, ../sass/layout/_footer.scss */
  footer .contact article { margin-right: 150px; }
  /* line 130, ../sass/layout/_footer.scss */
  footer .contact article header { padding: 30px 0 0; }
  /* line 134, ../sass/layout/_footer.scss */
  footer .contact article a { margin: 0 0 15px 0; } }
@media screen and (max-width: 425px) { /* line 147, ../sass/layout/_footer.scss */
  footer .contact article { margin-right: 0; }
  /* line 153, ../sass/layout/_footer.scss */
  footer .contact form input { width: 100%; }
  /* line 156, ../sass/layout/_footer.scss */
  footer .contact form input:first-child { margin-right: 0; } }
@media screen and (max-width: 375px) { /* line 167, ../sass/layout/_footer.scss */
  footer .send_btn { padding: 10px 35px; } }
/* line 1, ../sass/layout/_slider.scss */
.bg { background: url("../images/banner.png"); background-size: cover; background-position: center; }

/* line 7, ../sass/layout/_slider.scss */
.slide { padding: 142px 0 150px; }

/* line 11, ../sass/layout/_slider.scss */
.slick-list { text-align: center; }

/* line 15, ../sass/layout/_slider.scss */
h1 { font-size: 63px; color: #ffffff; padding-bottom: 29px; }

/* line 21, ../sass/layout/_slider.scss */
p { font-size: 23px; padding-bottom: 60px; color: #ffffff; line-height: 37px; }

/* line 28, ../sass/layout/_slider.scss */
.learn_btn { text-decoration: none; color: #ffffff; font-size: 26px; border-radius: 3px; padding: 22px 36px 22px 42px; border: 3px solid #ffffff; }

/* line 37, ../sass/layout/_slider.scss */
.slick-prev, .slick-next { z-index: 1001; width: 40px; height: 40px; }

/* line 43, ../sass/layout/_slider.scss */
.slick-prev:before, .slick-next:before { font-size: 40px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

/* line 48, ../sass/layout/_slider.scss */
.slick-prev { left: 25px; }

/* line 52, ../sass/layout/_slider.scss */
.slick-next { right: 25px; }

/* line 57, ../sass/layout/_slider.scss */
.slick-track .slick-slide:focus { outline: none; }

@media screen and (max-width: 425px) { /* line 62, ../sass/layout/_slider.scss */
  .slick-prev, .slick-next { visibility: hidden; } }
@media screen and (max-width: 320px) { /* line 68, ../sass/layout/_slider.scss */
  .slide { padding: 70px 0 75px; } }
/* line 7, ../sass/layout/__layout.scss */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "OpenSans", sans-serif; }

/* line 14, ../sass/layout/__layout.scss */
body { font-family: "OpenSans", sans-serif; }

/* line 18, ../sass/layout/__layout.scss */
img { max-width: 100%; height: auto; vertical-align: middle; margin: auto 0; }

/* line 25, ../sass/layout/__layout.scss */
.wrapper { max-width: 1440px; margin: 0 auto; }

/* line 30, ../sass/layout/__layout.scss */
.container { max-width: 1170px; margin: 0 auto; }

/* line 35, ../sass/layout/__layout.scss */
.clearfix::after { content: ""; display: block; clear: both; }

/* line 41, ../sass/layout/__layout.scss */
.fixed { position: fixed; right: 0; z-index: 99999; }

@media screen and (min-width: 1441px) and (max-width: 1920px) { /* line 48, ../sass/layout/__layout.scss */
  .fixed { right: 240px; } }
