$text-color: #4e525d;

.the_team {
	padding: 106px 0;
}

.caption {
	font-size: 42px;
	color: $text-color;
	text-align: center;
}

.our_team {
	padding-top: 139px;
	display: flex;
	justify-content: space-between;

	article {
		text-align: center;
	}

	img {
		margin-bottom: 71px;
	}

	header {
		font-size: 22px;
		color: $text-color;
		padding-bottom: 15px;
	}

	h4 {
		font-size: 14px;
		color: $text-color;
		padding-bottom: 35px;
	}

	p {
		font-size: 14px;
		color: $text-color;
		line-height: 28px;
	}
}

@media screen and (max-width: 768px) {
	.the_team {
		padding: 50px 0;

		.our_team {
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;
			padding-top: 50px;

			article {
				width:  300px;

				img {
					margin-bottom: 30px;
				}

				h4 {
					padding-bottom: 15px;
				}

				p {
					padding-bottom: 0;
				}	
			}
		}
	}
}

